################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
bin/*
project/.vs/*
project/debug/*
project/release/*
ReleaseDependencies/*
setup/*.exe
